@import 'theme';

.button {
  align-self: center;
  cursor: pointer;
  background-color: $theme-color-white01;
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0.6em 1.2em;
  border-radius: 50px;
  &:hover {
    background-color: $theme-color-white02;
  }
  &:active {
    background-color: transparent;
  }
}

.input {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

// Pangram input {
[contenteditable=true] {
  margin: 0 0 30px 0;
  max-width: 100%;
  min-width: 100%;
  font-size: 3em;
  font-weight: bold;
  &:focus {
    outline: 0px solid transparent;
  }
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
  color: $theme-color-white02;
}
