@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway');
@import 'theme';
@import 'modal';
@import 'records';
@import 'input';

* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $theme-color-primary;
  color: $theme-color-white;
  font-family: 'Raleway', sans-serif;
  min-width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}

header {
  padding: 50px 0
}

.branding {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  text-align: center;
}
