@import 'theme';

/* Open modal animation */
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal {
  background-color: rgba(189, 189, 189, 0.6);
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: relative;
  width: 25%;
  margin: auto;
  padding: 2em;
  background-color: white;
  border-radius: 13px;
  color: $theme-color-primary;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header {
  word-wrap: break-word;
  text-align: center;
}

.modal-grid {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.modal-grid-letter {
  float: left;
  width: calc(16.666% - 10px);
  text-align: center;
  font-size: 2em;
  padding: 1px 0;
  border: 2px solid $theme-color-primary;
  margin: 5px;
  &--muted {
    @extend .text-muted-primary;
    border-color: $theme-color-primary03;
  }
}

.modal-close {
    font-size: 3em;
    float: right;
    position: absolute;
    top: -16px;
    right: 7px;
    cursor: pointer;
    &:hover {
      color: $theme-color-primary03;
    }
}

@media (max-width: 1500px) {
  .modal-content {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .modal-content {
    width: 60%;
  }
}
