@import 'theme';

.records {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 80px;
}

.record {
  margin-bottom: 10px;
}

.record-value {
  word-break: break-all;
  width: 84%;
  display: inline-flex;
}

.record-status {
  font-size: 0.8em;
  float: right;
}

@media (max-width: 500px) {
  .records {
    width: 80%;
  }
}
