
$theme-color-primary : rgb(138, 220, 179);
$theme-color-primary03 : rgba(138, 220, 179, 0.3);

$theme-color-warning : rgba(236, 103, 103, 1);

$theme-color-white :  rgb(255, 255, 255);
$theme-color-white01 : rgba(255, 255, 255, 0.1);
$theme-color-white02 : rgba(255, 255, 255, 0.2);
$theme-color-white05 : rgba(255, 255, 255, 0.5);

.text-muted-white {
  color: $theme-color-white05;
}

.text-muted-primary {
  color: $theme-color-primary03;
}

.text-warning {
  color: $theme-color-warning;
}
