<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pangram Checker</title>

  <link rel="stylesheet" type="text/css" href="dist/styles.css">
</head>

<body>
  <div class="container">
    <header>
      <h1 class="branding">Pangram Checker</h1>
    </header>

    <div class="input">
      <div contenteditable="true" id="pangram-input" placeholder="Enter a Pangram..."></div>
      <button id="verify-button" class="button centered" type="submit">Verify Pangram</button>
    </div>

    <ul id="records" class="records">
      <template id="record-template">
        <li class="record">
          <span class="record-value">{{value}}</span>
          <span class="record-status">{{status}}</span>
        </li>
      </template>
    </ul>
  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <span id="close-modal" class="modal-close">&times;</span>
      <h2 class="modal-header"></h2>
      <ul class="modal-grid">
        <li class="modal-grid-letter" id="a">A</li>
        <li class="modal-grid-letter" id="b">B</li>
        <li class="modal-grid-letter" id="c">C</li>
        <li class="modal-grid-letter" id="d">D</li>
        <li class="modal-grid-letter" id="e">E</li>
        <li class="modal-grid-letter" id="f">F</li>
        <li class="modal-grid-letter" id="g">G</li>
        <li class="modal-grid-letter" id="h">H</li>
        <li class="modal-grid-letter" id="i">I</li>
        <li class="modal-grid-letter" id="j">J</li>
        <li class="modal-grid-letter" id="k">K</li>
        <li class="modal-grid-letter" id="l">L</li>
        <li class="modal-grid-letter" id="m">M</li>
        <li class="modal-grid-letter" id="n">N</li>
        <li class="modal-grid-letter" id="o">O</li>
        <li class="modal-grid-letter" id="p">P</li>
        <li class="modal-grid-letter" id="q">Q</li>
        <li class="modal-grid-letter" id="r">R</li>
        <li class="modal-grid-letter" id="s">S</li>
        <li class="modal-grid-letter" id="t">T</li>
        <li class="modal-grid-letter" id="u">U</li>
        <li class="modal-grid-letter" id="v">V</li>
        <li class="modal-grid-letter" id="w">W</li>
        <li class="modal-grid-letter" id="x">X</li>
        <li class="modal-grid-letter" id="y">Y</li>
        <li class="modal-grid-letter" id="z">Z</li>
      </ul>
    </div>
  </div>

  <script src="dist/bundle.min.js" charset="utf-8"></script>
</body>
</html>
